<h1>Welcome to Bonsai4u.com, <%= @user.name %><h1>

You have successfully signed up for Bonsai4u.com

<small>your email is <%= @user.email %> <br></small>


<p>Thank you for joining</p>
<h5>Bonsai4u team</h5>