<h2 style="color:#088A08"> hi Enjoy your shopping</h2>

<%= flash[:notice]%>

<%= link_to "Change Your Password" ,:controller=>"account",:action=>"reset_password" %>
<%= link_to "Logout" ,:controller=>"account" %>

