// Place all the styles related to the bonsai_gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cartButton{
background-color: green;
border: 2px solid green;
padding: 2px 2px 2px 2px;
margin-top: 1em;
border-radius: 5px;
}